# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.waf-*
/adventuretracker/build/
/adventuretracker/.lock-waf_darwin_build
build
/pebblebike/.lock-waf_darwin_build